/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/IdiomaSistema/nbproject/private/
/IdiomaSistema/build/
/DimensaoTela/nbproject/private/
/DimensaoTela/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFx/nbproject/private/
/OlaMundoJavaFx/build/
/OlaMundoJavaFx/dist/
/OlaMundoSwing/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/IdiomaSistemaSwing/nbproject/private/
/IdiomaSistemaSwing/build/
/ResolucaoTela/nbproject/private/
/ResolucaoTela/build/
/ResolucaoTelaSwing/nbproject/private/
/ResolucaoTelaSwing/build/
