/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/IdiomaSistema/nbproject/private/
/IdiomaSistema/build/
/DimensaoTela/nbproject/private/
/DimensaoTela/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFx/nbproject/private/
/OlaMundoJavaFx/build/
/OlaMundoJavaFx/dist/
/OlaMundoSwing/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/IdiomaSistemaSwing/nbproject/private/
/IdiomaSistemaSwing/build/
/ResolucaoTela/nbproject/private/
/ResolucaoTela/build/
/ResolucaoTelaSwing/nbproject/private/
/ResolucaoTelaSwing/build/
/TestesAula/TiposPrimitivos/nbproject/private/
/TestesAula/TiposPrimitivos/build/
/TestesAula/TesteTipos/nbproject/private/
/TestesAula/TesteTipos/build/
/TestesAula/SomaSwing/nbproject/private/
/TestesAula/SomaSwing/build/
/calculadoraIdade/nbproject/private/
/calculadoraIdade/build/
/TestesAula/OperadoresAritimeticos/nbproject/private/
/TestesAula/OperadoresAritimeticos/build/
/TestesAula/OperadoresSwing/nbproject/private/
/TestesAula/OperadoresSwing/build/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/TestesAula/OperadorTernario/nbproject/private/
/TestesAula/OperadorTernario/build/
/TestesAula/ComparacaoString/nbproject/private/
/TestesAula/ComparacaoString/build/
/TestesAula/OperadoresLogicos/nbproject/private/
/TestesAula/OperadoresLogicos/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/Exercicio08Java/nbproject/private/
/Exercicio08Java/build/
/TestesAula/ProgramaMedia/nbproject/private/
/TestesAula/ProgramaMedia/build/
/TestesAula/ProgramaIdade/nbproject/private/
/TestesAula/ProgramaIdade/build/
/TestesAula/ProgramaParImparSwing/nbproject/private/
/TestesAula/ProgramaParImparSwing/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/votacaoSwing/nbproject/private/
/votacaoSwing/build/
/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/ProjetoTriangulo/nbproject/private/
/ProjetoTriangulo/build/
/TestesAula/Contador01/nbproject/private/
/TestesAula/Contador01/build/
/TestesAula/Contador02/nbproject/private/
/TestesAula/Contador02/build/
/Exercicio11/nbproject/private/
/Exercicio11/build/
/TestesAula/Repeticao01/nbproject/private/
/TestesAula/Repeticao01/build/
/TestesAula/Numeros/nbproject/private/
/TestesAula/Numeros/build/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
/Exercicio12/nbproject/private/
/Exercicio12/build/
/TestesAula/RepeticaoFor/nbproject/private/
/TestesAula/RepeticaoFor/build/
/Exercicio13/nbproject/private/
/Exercicio13/build/
/TestesAula/Vetor01/nbproject/private/
/TestesAula/Vetor01/build/
/TestesAula/Vetor02/nbproject/private/
/TestesAula/Vetor02/build/
/TestesAula/Vetor03/nbproject/private/
/TestesAula/Vetor03/build/
/TestesAula/Vetor04/nbproject/private/
/TestesAula/Vetor04/build/
/TestesAula/Vetor05/nbproject/private/
/TestesAula/Vetor05/build/
/ExercicioVetor/nbproject/private/
/ExercicioVetor/build/
/TestesAula/TesteFuncao01/nbproject/private/
/TestesAula/TesteFuncao01/build/
/TestesAula/TesteFuncao02/nbproject/private/
/TestesAula/TesteFuncao02/build/
/Funcao01/nbproject/private/
/Funcao01/build/
/Funcao02/nbproject/private/
/Funcao02/build/
/JavaPOO/Aula02/nbproject/private/
/JavaPOO/Aula02/build/
/JavaPOO/Exercicios/Lampada/nbproject/private/
/JavaPOO/Exercicios/Lampada/build/
/JavaPOO/Exercicios/Exercicio02/nbproject/private/
/JavaPOO/Exercicios/Exercicio02/build/
/JavaPOO/Exercicios/Exercicio3/nbproject/private/
/JavaPOO/Exercicios/Exercicio3/build/
/JavaPOO/Exercicios/Exercicio4/nbproject/private/
/JavaPOO/Exercicios/Exercicio4/build/
/JavaPOO/Aula03/nbproject/private/
/JavaPOO/Aula03/build/
/JavaPOO/Aula04/nbproject/private/
/JavaPOO/Aula04/build/
/JavaPOO/Aula05/nbproject/private/
/JavaPOO/Aula05/build/
/JavaPOO/Aula06/nbproject/private/
/JavaPOO/Aula06/build/
